#content {
    font-family: Georgia, serif;
    font-variant: lining-nums;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.box-padding-noborder {
    padding: 4px;
}

.box-padding {
    width: min-content;
    background: #f8f9fa;
    padding: 4px;
    border: 1px solid #c8ccd1;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 2px #dddddd;
    transition: background 0.2s;
}

    .box-padding:hover {
        background: #e6e6e6cf;
    }

    .box-padding table {
        border-spacing: 4px 4px;
    }

.box-right {
    margin: .5em 0 1.3em 1.4em;
    float: right;
}

.box-left {
    margin: .5em 1.4em 1.3em 0;
    float: left;
}

.box-padding img {
    border: 1px solid #c8ccd1;
}

.box-caption {
    font-size: 13px;
    margin-left: 3px;
    margin-right: 3px;
    line-height: 20px;
}

/*
    <div .ref-list>
       <ol>
           <li>
               <span> <b><a href...>^</a></b> </span>
               <span> <cite .citation> ,,, </cite> </span>
*/

.ref-list, .note-list {
    column-width: 27em;
    list-style-type: decimal;
}

ol ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

.ref-list ol ,
.ref-list ul ,
.note-list ol,
.note-list ul {
    list-style-type: inherit;
}

    .ref-list ol li ,
    .note-list ol li {
        line-height: 1.4;
        padding: 4px 10px;
        font-style: normal !important;
        font-size: 0.90em;
    }

cite .citation {
    font-style: inherit;
}

sup {
    top: -.5em;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

.quote {
    margin: 40px;
    border: none;
    border-collapse: collapse;
    border-style: none;
    font-size: 100%;
}

.quote-left {
    float: left;
}

.quote-right {
    float: right;
}

.quote-middle {
    width: auto;
    margin: 40px auto!important;
}

.quote-marker-top {
    border: none;
    width: 20px;
    color: #999;
    font: 50px Trebuchet MS,Georgia,serif;
    line-height: 30px;
}

.quote-marker-bottom {
    border: none;
    width: 20px;
    color: #999;
    font: 50px Trebuchet MS,Georgia,serif;
    line-height: 0px;
}

.quote-body {
    border: none;
    padding-left: 5px;
    font-size: 17px;
    font-family: georgia,华文中宋,serif;
    text-align: center;
}

.indent {
    margin-left: 20px;
}

.toccontainer {
    display: table;
    padding: 10px 16px;
    background-color: #f9f9f9;
    border: 1pt solid #aaaaaa7d;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px #bbbbbb8a;
    font-size: 14px;
}

.toctitle {
    font-family: "PingFang SC", "Microsoft YaHei UI", sans-serif;
    font-size: 15px;
    font-weight:700;
    text-align: center;
    margin-bottom: 15px;
}