@{
    ViewData["Title"] = "登出";
    ViewData["Side"] = false;
}

<h1>登出当前用户</h1>
<h3>你确定要退出当前用户吗</h3>
<h4><code>@(new Microsoft.AspNetCore.Html.HtmlString((string)ViewData["Authenticated"]))</code></h4>

<form asp-action="Logout">
    <input type="submit" value="确认退出登录"/>
</form>
