.main {
    width:100%;
}

.mbox-text {
    padding: 6px;
}

@media screen and (min-width: 1230px) {
    .table-main {
        margin-left: 10%;
        width: 85%;
        margin-right: 5%
    }

    .page-content {
        width: 70%;
    }

    .page-panel {
        width: 30%;
    }

    .side {
        margin-top: 50px;
        margin-left: 40px;
    }

    .mbox-image {
        display: normal;
    }
}

@media screen and (max-width: 1230px) {
    .table-main {
        margin-left: 10%;
        width: 85%;
        margin-right: 5%
    }

    .page-content {
        width: 70%;
    }

    .page-panel {
        width: 30%;
    }

    .side {
        margin-top: 50px;
        margin-left: 40px;
    }

    .mbox-image {
        display: none;
    }
}

@media screen and (max-width: 1150px) {
    .table-main {
        margin-left: 10%;
        width: 80%;
        margin-right: 10%
    }

    .page-content {
        width: 100%
    }

    .page-panel {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .nav-menu-wrapper {
        display: none !important;
    }
}

@media screen and (min-width: 740px) {
    .nav-menu-wrapper {
        display: normal;
    }
}

#content {
    line-height: 1.5em;
}

.main h1, .main h2, .main h3 {
     font-family:Georgia, "华文中宋", serif;
}

    .main h4, .main h5 {
        font-family:Georgia, SimSun, serif;
    }

h1 {
    padding-top:40px;
    padding-bottom: 20px;
    font-size:2.5em;
    line-height:2.5em;
}

h2 {
    padding-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.2em;
    font-size: 1.5em;
    line-height:1.5em;
    border-bottom: 1px solid #00000042;
}

h3, h4 {
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.1em;
}

h5 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
    overflow: hidden;
    font-weight: 900;
}

hr {
    margin: 0 auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(0 0 0 / 24%), rgba(0, 0, 0, 0.75), rgb(0 0 0 / 15%));
}

#content ul, #content ol {
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search {
    margin-left:20px;
    background-color: #fafafa;
    box-shadow: 1px 1px 3px #cccccc;
    border-radius: 3px;
    width: 210px;
}

    .search input {
        font-family: georgia,"pingfang sc",-serif;
        font-weight: 900;
        height: 28px;
        border: none;
        border-radius: 3px;
        background: #fafafa;
        margin-left: 6px;
        outline: none;
    }

    .search button {
        outline: none;
        border: none;
        margin-top: 3px;
        width: 28px;
        height: 25px;
        border-radius: 0 4px 4px 0;
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 50%;
        transition: background-image .2s linear;
        cursor: pointer;
        background: #fafafa;
    }

    .search td {
        padding: 0px;
        margin: 0px;
    }

    .search tr {
        padding: 0px;
        margin: 0px;
    }

    .search table {
        border-spacing: 0px;
    }


input[type="submit"] {
    margin: 30px 0px;
    display: inline-block;
    padding: 0 0px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 700;
    background-color: #1473e6;
    color: #fff;
    border-radius: 16px;
    transition: background-color .1s ease, box-shadow .1s ease;
    border: none;
    font-family: inherit;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.form-control {
    display: block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.bootstrap-tagsinput {
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}

    .bootstrap-tagsinput input {
        margin: 5px 5px;
        display: block;
        width: 200px;
        height: 28px;
        padding: 0px 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    }

        .bootstrap-tagsinput input[type="text"]:focus {
            /* color: black; */
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }

    .bootstrap-tagsinput.form-control input::-moz-placeholder {
        color: #777;
        opacity: 1;
    }

    .bootstrap-tagsinput.form-control input:-ms-input-placeholder {
        color: #777;
    }

    .bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
        color: #777;
    }

    .bootstrap-tagsinput input:focus {
        box-shadow: none;
    }

    .bootstrap-tagsinput .tag {
        margin-right: 2px;
        color: white;
    }

        .bootstrap-tagsinput .tag [data-role="remove"] {
            margin-left: 8px;
            cursor: pointer;
        }

            .bootstrap-tagsinput .tag [data-role="remove"]:after {
                content: "×";
                padding: 0px 2px;
            }

            .bootstrap-tagsinput .tag [data-role="remove"]:hover {
                box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            }

                .bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
                    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                }
input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.tagsinput-primary {
    margin-bottom: 18px;
}

    .tagsinput-primary .bootstrap-tagsinput {
        margin-bottom: 0;
    }

.bootstrap-tagsinput .label-info {
    border-radius: 100px;
    background-color: #efefef;
    color: #000;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    padding: 1px 8px 2px 10px;
    transition: .25s linear;
    box-shadow: 0.4px 0.4px 3px #a0a0a0;
    margin: 5px 1px;
}

span.tag.label.label-info:hover {
    background-color: #e0e0e0;
}

.btn {
    background: #1abc9c;
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

footer {
    background: #333;
    color: whitesmoke;
    font-size:0.8em;
    flex: 0 0 auto;
}

.footer-container {
    margin: 20px;
}

.footer-container a {
    text-decoration:none;
    color:lightskyblue;
    transition: color linear 0.5s;
}

.footer-container a:hover {
    color:aqua;
}

a {
    color:Highlight;
    text-decoration:none;
    transition: color linear 0.3s;
    font-weight: 700;
}

    a:hover {
        color: #0b0080 !important;
    }

code {
    font-family: SF Mono, Cascadia Code, Consolas, 'Courier New', HarmonyOS Sans SC, PingFang SC, monospace;
}

form table tr {
    min-width:200px;
}

form input, form select {
    margin: 5px 5px;
    display: block;
    width: 200px;
    height: 28px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    margin-left: 10px;
}

    form input:focus, form select:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }

p {

}

.placeholder {
    margin: 30px;
    content: ' ';
}


table.ombox-notice {
    border: 1px solid #a2a9b1;
}

table.ombox {
    margin: 4px 10%;
    border-collapse: collapse;
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    box-sizing: border-box;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

    table.ambox-notice {
        border-left: 10px solid #36c;
    }

    table.ambox-warning {
        border-left: 10px solid rgb(192, 157, 0);
    }

    table.ambox-warningsevere {
        border-left: 10px solid rgb(207, 100, 0);
    }

    table.ambox-severe {
        border-left: 10px solid rgb(204, 51, 51);
    }

    table.ambox {
        margin: 0;
        background-color: #fbfbfb;
        box-sizing: border-box;
        box-shadow: -1px 1px 3px 0px #cecece;
        border-radius: 3px;
        margin-top: 15px;
        font-size: 0.8em;
        font-family: Georgia, SimSun, serif;
    }

code {
    font-family: SF Mono, Cascadia Code, Consolas, 'Courier New', HarmonyOS Sans SC, PingFang SC, monospace !important;
}

.side li {
    margin-bottom: 6px;
}

.side p {
    font-size: 0.9em;
}

.side ul,
.side ol {
    font-size: 0.8em;
    margin-left: 15px;
}

.side{
    margin-bottom: 50px;
}

.portal-list {
    column-width: 27em;
}