@model Vision.Models.Page

@{ ViewData["Title"] = "Create Page";
    ViewData["Side"] = false; }

<h1 class="spectrum-Heading spectrum-Heading--sizeXL spectrum-Heading--serif">Create Page</h1>

<p class="spectrum-Body spectrum-Body--sizeM vision-ui-paragraph">
    Pages are the basic display article in Vision Framework, building up in the form of a descriptive
    macro language of Vision Markup. Create new pages from this portal, and you will be able to edit
    and manage its content using Edit portal.
</p>

<form asp-action="Create" name="formCreate" class="spectrum-Form vision-form-emphasis">
    <div class="spectrum-Form-item">
        <label class="spectrum-FieldLabel spectrum-FieldLabel--sizeM spectrum-Form-itemLabel spectrum-FieldLabel--right">
            Page Title
        </label>
        <div class="spectrum-Form-itemField">
            <div class="spectrum-Textfield" style="width: 300px">
                <input class="spectrum-Textfield-input" name="title" type="text" placeholder="The title of the page to create" />
            </div>
        </div>
    </div>
    <div class="spectrum-Form-item">
        <label class="spectrum-FieldLabel spectrum-FieldLabel--sizeM spectrum-Form-itemLabel spectrum-FieldLabel--right">
            Namespace
        </label>
        <div class="spectrum-Form-itemField">
            <div class="spectrum-Textfield" style="width: 300px">
                <input class="spectrum-Textfield-input" name="namespace" type="text" placeholder="One of 'System', 'Special', 'Category', 'Invisible'" />
            </div>
        </div>
    </div>
    <div class="spectrum-Form-item">
        <label> </label>
        <div class="spectrum-Form-itemField">
            <button onclick="formCreate.submit()" class="spectrum-Button spectrum-Button--primary spectrum-Button--sizeM" style="left: 185px;">
                <svg class="spectrum-Icon spectrum-Icon--sizeM" focusable="false" aria-hidden="true" aria-label="Edit">
                    <use xlink:href="#spectrum-icon-18-LinkPage"></use>
                </svg>
                <span class="spectrum-Button-label">New Page</span>
            </button>
        </div>
    </div>
</form>


<h2 class="spectrum-Heading spectrum-Heading--sizeM spectrum-Heading--serif vision-ui-title">Further Reading</h2>
<div class="vision-rightsided">
    <p class="spectrum-Body spectrum-Body--sizeS">
        If the page you want to create already exists, you will be redirected to an error page, providing access
        to the page existed.
    </p>
    <p class="spectrum-Body spectrum-Body--sizeM">
        <a class="spectrum-Link spectrum-Link--sizeM">Error: Page Existed</a>
    </p>
</div>

<div class="vision-leftsided">
    <p class="spectrum-Body spectrum-Body--sizeS">
        Here are some tips on how to create an appropriate page. See the links below on the specification of naming,
        merging, and namespace policies.
    </p>

    <p class="spectrum-Body spectrum-Body--sizeM">
        <a class="spectrum-Link spectrum-Link--sizeM">Vision Framework: Naming Pages</a>
    </p>
    <p class="spectrum-Body spectrum-Body--sizeM">
        <a class="spectrum-Link spectrum-Link--sizeM">Vision Framework: Namespace Policies</a>
    </p>
    <p class="spectrum-Body spectrum-Body--sizeM">
        <a class="spectrum-Link spectrum-Link--sizeM">Vision Framework: Managing and Editing Pages</a>
    </p>
</div>