@model ManagedError
@{
    ViewData["Title"] = "Error";
    ViewData["Side"] = false;
}

<h1 class="spectrum-Heading spectrum-Heading--sizeXL spectrum-Heading--serif">@Model.Title</h1>

<p class="spectrum-Body spectrum-Body--sizeM vision-ui-paragraph">@Html.Raw(Model.Details)</p>