@model (Page _Page, Record _Record)
@{ ViewData["Title"] = Model._Page.Title.Split('#')[0];
   ViewData["Side"] = false; }

<h1 class="spectrum-Heading spectrum-Heading--sizeXL spectrum-Heading--serif">@Model._Page.Title</h1>

@(new Microsoft.AspNetCore.Html.HtmlString(ViewBag.HtmlPage))
